*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}


/* --- Header Navber_menu--- */
header{
    /* position: fixed; */
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 0; 
    left: 0;
    padding: 13px;
    box-shadow: 0 0 2px 0 black;
    z-index: 999;
}
header .logo{
    font-size: 35px;
    margin-left: 40px;
    font-weight: bold;
    font-family: "Oleo Script", system-ui;
    /* font-family: "Great Vibes", cursive; */
    /* font-family: "Spicy Rice", serif; */
    background: linear-gradient(45deg, #af3451, #f9320e,
    rgb(228, 10, 10));
    color: transparent;
    -webkit-background-clip: text;
}
.fa-brands{
    font-size: 30px;
}
nav{
    background-color: white;
    box-shadow: 0 0 0 1 white;
    font-family: "Space Mono", monospace;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    /* position: relative; */
}
nav a{
   
    font-size: 18px;
    margin-right: 45px;
    /* margin: 0 30px; */
    height: 100%;
    padding: 0 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

nav a:focus,
nav a:hover {
    color: #000000;
}
  
nav a:focus:after,
nav a:hover:after {
    width: 100%;
    left: 0%;
    /* right: 0%; */
}
  
nav a:after {
    content: "";
    pointer-events: none;
    bottom: 9px;
    left: 0;
    /* right: 0; */
    position: absolute;
    width: 0%;
    height: 1.5px;
    background-color: #595959;
    /* background: linear-gradient(45deg, #af3451, #f9320e,
    rgb(228, 10, 10)); */
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
/* nav a:hover{
    transform:  scale(110%,110%);
    text-decoration: underline rgba(0, 0, 0, 0.862);
    margin-bottom: 100px;
} */
.Menu-buttom {
    display: none;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}
.Menu-buttom:hover{
    transform:  scale(130%,140%);
}
.nav_menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1;
    background-color: rgb(255, 253, 253);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    
}
.nav_menuli{
    width: 100%;
}
.nav_menu a{
    width: 100%;
    margin-left: 18px;
}
.nav_menu i{
    margin-left: 22px;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}
.nav_menu i:hover{
    transform:  scale(130%,140%);
}

/* ---Header Img--- */

.slideshow_img{
    margin: 0 2px;
}
.slideshow_img img{
    height: 650px;
}
/* header_img */
.header_img img{
    /* top: 20px; */
    position: static;
    width: 100%;
    height: auto;
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    .slideshow_img img{
        height:auto;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    nav a{
        font-size: 18px;
        margin-right: 10px;
        padding: 0 14px;
    }
    .slideshow_img img{
        height:auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    header{
        padding: 10px;
    }
    header .logo{
        font-size: 32px;

    }
    .Menu-buttom {
        display: block;
        align-content: center;
        right: 0;
    }
    .nav_menu1 {
        display: none;
    }
    .nav_menu{
        padding-top: 16px;
    }
    .slideshow_img img{
        height:auto;
    }
    
    
}
@media (min-width: 250px) and (max-width: 576px){
    header{
        padding: 7px;
    }
    header .logo{
        font-size: 30px;
    }
    .Menu-buttom {
        display: block;
        align-content: center;
        right: 0;
    }   
    .Menu-buttom i{
        margin-right: 20px;
    }
    .nav_menu1 {
        display: none;
    }
    .nav_menu{
        
        padding-top: 16px;
    }
    .slideshow_img img{
        height:auto;
    }
}

/* ---main ---- */

.name_products{
    padding: 20px 0;
    text-align: center;
}
.name_products h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.name_products p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.header_img_M img{
    height: 150px;
}
.slideshow_img{
   box-shadow: 5px 0 2px 0 rgb(0, 0, 0); 
}

/* --- BOX Shrit--- */

main{
    padding: 10px 70px 10px 70px;
}
.name_products{
    /* box-shadow: 0 0 1px 0 black; */
    margin-top: 10px;
    margin-bottom: 20px;
}
.name_products h1{
    text-decoration: underline 1.8px;
    font-family: "Bangers", system-ui;

}
.name_products p{
    font-family: "Patua One", serif;
}
.Box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
} 
/* @keyframes scaleProgress{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(100%);
    }
} */
@keyframes fade-in{
    from{
        opacity: 0.1;
        transform: scale(0.8);
    }
    to{
        /* opacity: 1;*/ 
        transform: scale(auto);
    }
}
.Box .Box-card{
    width: 22%;
    min-width: 250px;
    /* object-position: center; */
    /* height: 450px; */
    border-radius: 20px;
    padding: 12px 10px;
    border: 1px solid rgb(222, 219, 219);
    position: relative;
    margin-bottom: 23px;
    transition: 0.4s;
    /* animation: scaleProgress auto linear;
    animation-timeline: scroll(root); */
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 10% entry 80%;
} 
.Box .Box-card img{
    width: 100%;
    height: 310px;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: 0.4s;
}
.Box .Box-card img:hover{
    transform: scale(104%,104%);
}
.Box .Box-card .Name{
    text-align: start;
    padding: 10px 0;
}
.Box .Box-card .Name h5{
    padding-top: 7px;
    color: black;
    font-size: 18px;
}
.Box .Box-card .Name i{
    font-size: 12px;
}
.Box .Box-card .Name span{
    color: rgb(58, 57, 57);
    font-size: 13px;
}
.Box .Box-card .Name h4{
    padding-top: 7px;
    font-size: 18px;
    /* font-weight: 700; */
    color: rgb(24, 26, 26);
}
.Box .Box-card .Buy{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
    right: 10px;
}
/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    main{
        display: grid;
        justify-content: center;
        margin-bottom: 0;
    }
    .Box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    } 
    .Box .Box-card{
        width: 100%;
        padding: 12px 10px;
        margin: 20px;
        
    } 
    
    .Box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        margin-bottom: 0;
    } 
    .Box .Box-card{
        width: 92%;
        /* max-width: 280px; */
        padding: 12px 10px;
        margin: 15px 25px 10px 25px;
        
    } 
    .Box .Box-card img{
        height: 280px;
        border-radius: 20px;
        margin-bottom: 10px;
        max-width: 350px;

    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    main{
        display: grid;
        justify-content: center;
    }
    .Box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    } 
    .Box .Box-card{
        width: 95%;
        max-width: 240px;
        padding: 12px 10px;
        margin: 15px 5px 10px 5px;
        
    } 
    .Box .Box-card img{
        height: 260px;
        border-radius: 20px;
        margin-bottom: 10px;
        max-width: 250px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    main{
        display: grid;
        justify-content: center;
    }
    .Box{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,2fr);
    } 
    .Box .Box-card{
        width: 92%;
        max-width: 250px;
        padding: 12px 10px;
        margin: 15px 20px 10px 20px;
        
    } 
    .Box .Box-card img{
        height: 250px;
        border-radius: 20px;
        margin-bottom: 10px;
        max-width: 250px;
    }

}
@media (min-width: 350px) and (max-width: 576px){
    .header_img_M img{
        height: 150px;
        width: 100%;
    }
    main{
        display: grid;
        justify-content: center;
        padding: 8px 5px;
    }
    /* --- shirt Responsive ---*/
    .Box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        width: 100%;
    } 
   
    .Box .Box-card{
        width: 82%;
        min-width: 180px;
        margin: 8px 10px;
        /* height: 450px; */
        border-radius: 20px;
        padding: 12px 10px;
        border: 1px solid rgb(222, 219, 219);
        position: relative;
    } 
    .Box .Box-card img{
        height: 175px;
        border-radius: 20px;
        margin-bottom: 1px;
        max-width: 200px;
    }
    .Box .Box-card .Name h5{
        padding-top: 5px;
        color: black;
        font-size: 13px;
    }
    .Box .Box-card .Name i{
        font-size: 10px;
    }
    .Box .Box-card .Name span{
        color: rgb(58, 57, 57);
        font-size: 11px;
    }
    .Box .Box-card .Name h4{
        padding-top: 6px;
        font-size: 18px;
        /* font-weight: 700; */
        color: rgb(24, 26, 26);
    }
    .Box .Box-card .Buy{
        font-size: 17px;
        width: 38px;
        height: 38px;
        line-height: 38px;
        border-radius: 50px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 15px;
        right: 10px;
    }
}
@media (min-width: 250px) and (max-width: 349.9px){
    .header_img_M img{
        height: 150px;
        width: 100%;
    }
    main{
        display: grid;
        justify-content: center;
        padding: 8px 5px;
    }
    /* --- shirt Responsive ---*/
    .Box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        width: 100%;
    } 
   
    .Box .Box-card{
        width: 80%;
        min-width: 150px;
        margin: 8px 10px;
        /* height: 450px; */
        border-radius: 20px;
        padding: 10px 8px;
        border: 1px solid rgb(222, 219, 219);
        position: relative;
    } 
    .Box .Box-card img{
        height: 157px;
        border-radius: 20px;
        margin-bottom: 1px;
        max-width: 200px;
    }
    .Box .Box-card .Name h5{
        padding-top: 4px;
        color: black;
        font-size: 10px;
    }
    .Box .Box-card .Name i{
        font-size: 8px;
    }
    .Box .Box-card .Name span{
        color: rgb(58, 57, 57);
        font-size: 10px;
    }
    .Box .Box-card .Name h4{
        padding-top: 4px;
        font-size: 15px;
        /* font-weight: 700; */
        color: rgb(24, 26, 26);
    }
    .Box .Box-card .Buy{
        font-size: 14px;
        width: 34px;
        height: 34px;
        line-height: 34px;
        border-radius: 50px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 15px;
        right: 10px;
    }
}

/* ----Footer---- */

footer{
    box-shadow: 0 1px 3px 0 black;
    margin-top: 20px;
    padding: 30px;
    background-color: rgb(248, 245, 245);
}
footer .icon_Social{
    text-align: center;
    padding-bottom: 20px;
}
footer .icon_Social a i{
    font-size:25px;
    border: 1px solid rgb(212, 212, 212);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 39px;
    /* display: inline-block; */
    display: inline-block;
    text-align: center;
    /* background-color: rgb(197, 202, 205); */
    margin: 0 8px;
    opacity: 0.75;
    transition: 0.4s;
}
footer .icon_Social a i:hover{
    opacity: 1.9;
    border: 1px solid rgb(76, 76, 76);
    transform: scale(120%,120%);
}
footer ul{
    margin-top: 5px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}
footer ul li a:hover{
    opacity: 2;
}
footer p{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
}


/* ---Content name--- */
.name_team {
    padding: 50px 10px;
    text-align: center;
}
.name_team h1{
    font-size: 40px;
}


/* ---Profile Team--- */
.team{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    /* flex-wrap: wrap; */
}
.team .team_card{
    width: 20%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    border-radius: 15px;
    background-color: rgb(236, 235, 235);
    border-radius: 15px;
    border: 1px solid rgb(212, 212, 212);
    margin: 20px;
    
}
.team .team_card .img_team{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 40px;
    
}
.team .team_card .img_team img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 1px solid rgb(212, 212, 212);
    overflow: hidden
    /* width: 280px; */
    
}

.team .team_card h3{
    font-size: 25px;
    /* text-decoration: underline; */
    margin-top: 20px;
    margin-bottom: 30px;
    /* font-family: "Bungee Spice", sans-serif; */
}
.team .team_card .icon_team{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.team .team_card .icon_team .icon_teams a{
    /* font-size:2px; */
    border: 1px solid rgb(212, 212, 212);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* line-height: 55px; */
    display: inline-block;
    text-align: center;
    /* background-color: rgb(197, 202, 205); */
    margin: 0 8px;
    /* opacity: 0.75; */
    transition: 0.4s;
}
.team .team_card .icon_team .icon_teams a:hover{
    transform: scale(115%,115%);
    background-color: black;
    opacity: 0.75;
}
/* .team .team_card .profile{
    align-items: center;
    padding: 8px 25px;
    background-color: rgb(0, 0, 0.1);
    border-radius: 25px;
    transition: 0.4s;
    margin-left: 15px;
}
.team .team_card .profile:hover{
    box-shadow: 0 1px 5px 0 rgb(0, 0, 0);
    transform: scale(110%,110%);
}
.team .team_card .profile a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.team .team_card .profile i{
    margin-left: 8px;
} */
.button {
    margin-top: 2px;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
}
.button a{
    text-decoration: none;
    color: #2c9caf;

} 
.button a:hover{
    color: #ffffff;
    transform: scale(1.1);
} 
.button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    /* box-shadow: 4px 5px 17px -4px #268391; */
}
  
.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
.button:hover::before {
    width: 220%;
}
.icon_teams .button i{
    color: #2c9caf;
}
  
/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .team{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 40px;
        cursor: pointer;
        /* flex-wrap: wrap; */
    }
    .team .team_card{
        width: 22%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        border-radius: 15px;
        background-color: rgb(236, 235, 235);
        border-radius: 15px;
        border: 1px solid rgb(212, 212, 212);
        margin: 20px;
        
    }
    .team .team_card .img_team{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 40px;
        
    }
    .team .team_card .img_team img{
        width: 280px;
        height: 280px;
        border-radius: 50%;
        border: 1px solid rgb(212, 212, 212);
        overflow: hidden
        /* width: 280px; */
        
    }
    
    .team .team_card h3{
        font-size: 25px;
        /* text-decoration: underline; */
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .team .team_card .icon_team{
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        margin-bottom: 20px;
        margin-left: 12px;
    }
    
    .team .team_card .icon_team .icon_teams a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        /* background-color: rgb(197, 202, 205); */
        margin: 0 2px;
        /* opacity: 0.75; */
        transition: 0.4s;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0.1);
    }
    .team .team_card .icon_team .icon_teams a:hover{
        transform: scale(115%,115%);
        background-color: black;
        opacity: 0.75;
    }
    .team .team_card .icon_team .icon_teams a i{
        font-size: 25px;
    }
    
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    .team{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: repeat(3,3fr); */
        width: 100%;
    }
    .team .team_card{
        width: 96%;
        min-height: 30vh;
    }
    .team .team_card .icon_team .icon_teams a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        /* background-color: rgb(197, 202, 205); */
        margin: 0 2px;
        /* opacity: 0.75; */
        transition: 0.4s;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0.1);
        margin-bottom: 20px;
    }
    .team .team_card .icon_team .icon_teams a:hover{
        transform: scale(115%,115%);
        background-color: black;
        opacity: 0.75;
    }
    .team .team_card .icon_team .icon_teams a i{
        font-size: 25px;
    }
    .button {
        align-items: center;
        margin-bottom: 15px;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    .team{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(2,2fr);
        width: 100%;
    }
    .team .team_card{
        width: 85%;
        min-height: 40vh;
        margin-left: 30px;
    }
    .team .team_card .icon_team .icon_teams a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        /* background-color: rgb(197, 202, 205); */
        margin: 0 2px;
        /* opacity: 0.75; */
        transition: 0.4s;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0.1);
        margin-bottom: 20px;
    }
    .team .team_card .icon_team .icon_teams a:hover{
        transform: scale(115%,115%);
        background-color: black;
        opacity: 0.75;
    }
    .team .team_card .icon_team .icon_teams a i{
        font-size: 25px;
    }
    .button {
        align-items: center;
        margin-bottom: 15px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .team{
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-template-rows: repeat(1,1fr);
        width: 100%;
    }
    .team .team_card{
        /* width: 80%; */
        align-items: center;
        min-width: 350px;
        min-height: 40vh;
        
    }
    .team .team_card .icon_team .icon_teams a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        /* background-color: rgb(197, 202, 205); */
        margin: 0 2px;
        /* opacity: 0.75; */
        transition: 0.4s;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0.1);
        margin-bottom: 20px;
    }
    .team .team_card .icon_team .icon_teams a:hover{
        transform: scale(115%,115%);
        background-color: black;
        opacity: 0.75;
    }
    .team .team_card .icon_team .icon_teams a i{
        font-size: 25px;
    }
    .button {
        align-items: center;
        margin-bottom: 15px;
    }
}
@media (min-width: 250px) and (max-width: 575.98px){
    .team{
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-template-rows: repeat(1,1fr);
        width: 100%;
    }
    .team .team_card{
        /* width: 80%; */
        align-items: center;
        min-width: 320px;
        min-height: 40vh;
        
    }
    .team .team_card .icon_team .icon_teams a{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        /* background-color: rgb(197, 202, 205); */
        margin: 0 2px;
        /* opacity: 0.75; */
        transition: 0.4s;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0.1);
        margin-bottom: 20px;
    }
    .team .team_card .icon_team .icon_teams a:hover{
        transform: scale(115%,115%);
        background-color: black;
        opacity: 0.75;
    }
    .team .team_card .icon_team .icon_teams a i{
        font-size: 25px;
    }
    .button {
        align-items: center;
        margin-bottom: 15px;
    }
}

/* ---About--- */

.box_about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 70px;
}
.img_about{
    display: flex;
    align-items: center;
    /* width: 50%; */
    margin-right: 10px;
    justify-content: center;
    
}
.img_about img{
    height: auto;
    width: 420px;
    /* margin-left: 20px; */
}
.text_about{
    /* width: 50%; */
    margin-left: 30px;
}
.text_about .h1{
    font-size: 35px;
}
.text_about p{
    font-size: 18px;
    line-height: 1.4;
    width: 78%;
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){
    .box_about .img_about img{
        width: 400px;
    }
    .text_about p{
        width: 82%;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    .box_about{
        margin: 0;
        
    }
    .box_about .img_about img{
        margin: 0;
        width: 300px;
    }
    .text_about p{
        width: 100%;
        font-size: 15px;
    }
    .text_about .h1{
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .box_about{
        margin: 0;
        flex-direction: column;
        width: 100%;
    } 
    .img_about{
        width: 100%;
        align-items: center;
    }
    .img_about img{
        width: 100%;
    }
    .text_about{
        width: 100%;
    }
    .text_about p{
        width: 100%;
    }
}
@media (min-width: 250px) and (max-width: 575.98px){
    .box_about{
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .img_about{
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .box_about .img_about img{
        margin: 0;
        /* width: 300px; */
        width: 100%;
    }
    .text_about{
        width: 100%;
    }
    .text_about p{
        width: 90%;
        font-size: 15px;
    }
    .text_about .h1{
        font-size: 30px;
    }
}
